.hero{
    width: 100;
    min-height: 100vh;
    background: linear-gradient(rgba(12, 58, 0, 0.7),rgba(12,58,0,0.7)), url('../../assets/hero.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-text{
    text-align: center;
    max-width:  800px; ;
}
.hero-text h1{
    font-size: 60;
    font-weight: 600;
}
.hero-text p{
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.4;
}
.btn.explore-btn {
    padding: 10px 25px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(25, 93, 25);
    background-color: white; /* Dark background color */
    
    border-radius: 25px; /* Rounded corners */
    cursor: pointer;
    transition: all 0.3s ease; /* Smooth transition */
}

.btn.explore-btn:hover {
    background-color: transparent; /* Transparent background on hover */
    color: #f7f7f7; /* Dark text on hover */
    
}
