.hero{
    width: 100;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(158, 116, 128, 0.7)), url('../../assets/hero.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
  .hero-text {
    text-align: center;
    color: whitesmoke;
    max-width: 800px;
  }
  
  .hero-text h1 {
    font-size: 60px;
    font-weight: 600;
  }
  
  .hero-text p {
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.4;
  }
  
  .btn.explore-btn:hover {
    padding: 10px 25px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(2, 1, 1);
    background-color: rgb(244, 244, 238);
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .btn.explore-btn {
    padding: 10px 25px;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    color: #f1f1f1;
    border-radius: 25px;
    cursor: pointer;
  }
  